{% extends 'base.html' %}
{% block title %}Portafolio - Jeremy Espinar{% endblock %}

{% block content %}
<header class="hero hero-portfolio">
    <div class="hero-content">
        <h1>Mi Portafolio</h1>
        <p>Explora mis proyectos y creaciones más recientes</p>
    </div>
</header>

<section class="seccion-lectura">
    <div class="container-texto">
        <h2>Primer Proyecto</h2>
        <p>
            En este primer proyecto vamos a ver como se va
            mejorando esta pagina poco a poco hasta que el
            resultado sea exitoso.
        </p>
    </div>
</section>
{% endblock %}